{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Здравствуйте {{ user.username }}!</p>
<a href="polls/quest/">Пройти опрос</a>
<p><a href="{% url 'password_change' %}">Сменить пароль</a></p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
<p><a href="{% url 'polls:newpost' %}">Написать пост</a></p>
<p><a href="{% url 'polls:test' %}">Посмотреть посты</a></p>

{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'polls:signup' %}">Регистрация</a></p>
<p><a href="{% url 'password_reset' %}">Сброс пароля</a></p>
<p><a href="{% url 'login' %}">Войти</a></p>
{% endif %}
{% endblock %}