<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'polls:index'%}">Вернуться на главную страницу</a>
<div style="border: 2px solid black; width: 10%; display: flex; flex-direction: column; align-items: center;">
    <img src="{{ avatar.image.url }}" alt="" style="width: 100px">
    <h3>{{ name }}</h3>
    <p>{{ email }}</p>
</div>
{% if avatar.username == 'default' %}
    <a href="{% url 'polls:addavatar' %}">Добавить изображение профиля</a>
{% else %}
    <a href="{% url 'polls:changeimg' avatar.id %}">Поменять изображение профиля</a>
{% endif %}
<a href="{% url 'polls:deleteuser' user.id %}">Удалить профиль</a>
</body>
</html>